<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question 2 Solution</title>
  </head>
  <body>
    <nav>
      <a href="/">Question 1</a>
      <a href="/question2">Question 2</a>
      <a href="/question3">Question 3</a>
    </nav>
    <h1>Question 3 Solution:</h1>
    
    <p>Polling Unit result is:</p>
  </body>
</html>
